<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.serverapp">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/OnePxActStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- 添加data属性后只能响应Uri为com.android.example://AuthActivity的特定 Intent，或者隐式启动-->
                <data
                    android:host="mainactivity"
                    android:scheme="com.example.serverapp" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".AidlService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.serveraidl" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>